/*Social Medias*/
.swiper-container {
	width: 100%;
	height: 100%;
	height: fit-content !important;
	max-height: 244.5px;
}

.swiper-slide {
	height: fit-content !important;
	width: fit-content !important;
	max-width: 615px;
}

.swiper-container {
	overflow: visible !important;
}

@media screen and (max-width: 510px) {
	.swiper-slide {
		width: 100% !important;
	}
}
/*Social Medias*/

